li {
    display: column;
    list-style-type: none;
}
body{
    font-family: 'Kanit', sans-serf;
    margin: 0px;
}

.fixed-top {
    background-color: darkslategrey;
    color: white;
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px;
    padding-top: 15px;
    margin-bottom: 150px;
}

.form-inline{
    margin-top: 120px;
    margin-left: 20px;
    font-family: 'Kanit', sans-serif;
}

.col-lg-4, .col-lg-8{
    margin-top: 50px;
}

.container {
    flex-direction: row;
    min-width: 100%;
    margin-right: 15px;
  }

  .card-group{
      display: flex;
      float: right;
  }

  #weatherBox {
      display: block;
      margin-left: 35px;
      min-width: 80%;
  }