
body{
    font-family: 'Blinker', sans-serif;
    margin: 0px;
}

.fixed-top {
    background-color: darkslategrey;
    color: white;
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px;
    padding-top: 15px;
    margin-bottom: 150px;
}

.form-inline{
    margin-top: 120px;
    margin-left: 20px;
    font-family: 'Blinker', sans-serif;
}

.col-lg-4, .col-lg-8{
    margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    margin-right: 15px;
   
  }

  .card-group{
      display: flex;
      float: right;
  }